version: 2 # use CircleCI 2.0
jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point
    docker: # run the steps with Docker
      - image: ubuntu:18.04 # ...with this image as the primary container; this is where all `steps` will run
      - image: mongo:3.4.4 # and this image as the secondary service container
    environment:
      MONGO_DB: "mongodb://localhost/archibald"
      MONGOMS_DOWNLOAD_URL: https://fastdl.mongodb.org/linux/mongodblinuxx86_64ubuntu18044.4.0.tgz
      MONGOMS_VERSION: 4.4.0
    steps: # a collection of executable commands
      - checkout # special step to check out source code to working directory
      - run:
          name: update-npm
          command: "sudo npm install -g n"
      - run:
          name: update-npm
          command: "sudo n stable"
      - restore_cache: # special step to restore the dependency cache
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          key: dependency-cache-{{ checksum "server/package.json" }}
      - run:
          name: install-npm-wee
          command: cd server && npm install
      - save_cache: # special step to save the dependency cache
          key: dependency-cache-{{ checksum "server/package.json" }}
          paths:
            - server/node_modules
      - run: # run tests
          name: test
          command: cd server && npm test
